<div class="custom-modalito">
  <mat-card>
      <mat-dialog-content *ngIf="pokemon.length > 0;else notFirst">
          <mat-list *ngFor="let s of pokemon">
              <mat-list-item>
                <strong>{{ s.pokemon | titlecase }}</strong>

                <img style= "padding-left: 50px;width: 30px;height:30px" [src]="s.imagen" />
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
      </mat-dialog-content>
  </mat-card>
</div>

<ng-template #notFirst>
  <p>
    Selecciona un Pokemon
  </p>
</ng-template>
