
<mat-card>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
     <!-- Position Column -->
    <ng-container  matColumnDef="id">
      <th  mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th  mat-header-cell *matHeaderCellDef> Pokémon </th>
      <td  mat-cell *matCellDef="let element"> <strong>{{element.pokemon  | titlecase}}</strong> </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th style="padding-left: 50px;" mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let element">
          <img style= "padding-left: 50px;width: 30px;height:30px" [src]="element.tipo" />
      </td>
    </ng-container>

    <ng-container matColumnDef="imagen">
        <th mat-header-cell *matHeaderCellDef> Favicon </th>
        <td mat-cell *matCellDef="let element">
          <img style="padding-left: 50px; width: 30px;height:30px" [src]="element.imagen"  />
        </td>
      </ng-container>

    <mat-header-row *matHeaderRowDef="cols"></mat-header-row>
  <mat-row *matRowDef="let row; columns: cols;"></mat-row>
  </table>
  <mat-paginator
  [pageSizeOptions]="[1,3,5,10]"
  [pageSize]="pokemonPorPagina"
  ></mat-paginator>

</mat-card>
