table {
  width: 100%;
}
.mat-column-id,
.mat-column-nombre,
.mat-column-tipo,
.mat-column-activo,
.mat-column-cols {
  flex: 0 0 150px;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-style: none;
}
.filter {
  display: flex;
  justify-content: space-between;
}
