<mat-toolbar color="primary">
  <span>
    <a routerLink="/">
      <mat-icon svgIcon="icono-pokeball"></mat-icon>
    </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li >
      <a
      mat-button
      routerLink="/crear"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="mat-accent">
      <mat-icon svgIcon="icono-plus"></mat-icon>
      </a>
    </li>
    <li>
      <a
      mat-button

      routerLinkActive="mat-accent">
      <mat-icon svgIcon="icono-login"></mat-icon>
      </a>
    </li>
    <li>
        <a
        mat-button

        routerLinkActive="mat-accent">
        <mat-icon svgIcon="icono-logout"></mat-icon>
        </a>
      </li>
    <li></li>
  </ul>
</mat-toolbar>
